@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');

    html,
    body,
    section {
        height: 100%;
    }

    body {
        color: #fff;
        text-align: center;
    }


    .xop-container {
        display: flex;
    }

    .text-position {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .xop-left {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(164, 222, 102, 0.10)), url(img/bg-img/assess.png);
        background-size: cover;
        background-position: center;
        flex: 1;
        padding: 1rem;
        transition: all .2s ease-in-out;
        text-transform: uppercase;
        filter: grayscale(80%);
    }

    .xop-right {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(164, 222, 102, 0.10)), url(img/bg-img/invest.jpg);
        background-size: cover;
        background-position: center;
        flex: 1;
        padding: 1rem;
        transition: all .2s ease-in-out;
        text-transform: uppercase;
        filter: grayscale(80%);
    }



    .xop-left:hover,
    .xop-right:hover {
        transform: scale(0.99);
        filter: grayscale(0%);
    }

    .xop-right h1 {
        letter-spacing: 5px;
        font-size: 5rem;
        -webkit-text-stroke: 0.5px black;
        color: white;
        text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
        /* text-shadow: black 0.2em 0.2em 0.8em */
        /* font-family: '微軟正黑體' ; */
    }
    .xop-left h1 {
        letter-spacing: 5px;
        font-size: 5rem;
        -webkit-text-stroke: 0.5px black;
        color: white;
        text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
        /* text-shadow: black 0.1em 0.1em 0.8em */
        /* font-family: '微軟正黑體' ; */
    }

    .xop-button {
        text-align: center;
        border-radius: 2px;
        color: #fff;
        background-color: #333;
        padding: 10px 6px;
        margin: 0 1%;
        text-align: center;
        font-family: 'Play'
        text-decoration: none;
        letter-spacing: 1px;
        display: inline-block;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.5s;
        width: 400px;
        -webkit-text-stroke: 0.5px black;
        color: white;
        text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .xop-button:hover {
        background-color:rgba(0, 0, 0, 0.8);
        color: #fff;
    }

    @media only screen and (max-width: 600px) {
        .xop-container {
            flex-direction: column;
        }

    }
    .modal-content {
        font-family: '微軟正黑體' ;
    }
    .modal-title {
        font-size: 3vmin ;
        color: #333 ;
        height: 3vmin ;
    }
    .modal-body {
        font-size: 2vmin ;
        color: #333 ;
    }
