{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assessment.css') }}">
<section class="xop-container">
    <div class="xop-left text-position">
        <article>
            <h1>風險評估</h1><div class="xop-button" data-toggle="modal" data-target="#myModal">ENTER</div>
        </article>
    </div>
    <div class="xop-right text-position">
        <article>
            <h1>直接投資</h1><div class="xop-button" onclick="redirect()">ENTER</div>
        </article>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="myModalLabel">風險評估表單</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                The body of the modal, where you can show a message in single or multi-line. Even include a video. <br />                For
                example, embed a youtube video! OR <br /> Add some picture.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-info" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function redirect(){
        window.location.href = 'invest'
    }
</script>
{% endblock %}
