<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>GP-Invest</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static',filename='img/core-img/favicon.ico') }}">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="{{ url_for('static', filename = 'img/core-img/logo.png') }}"
                                alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <!-- <li><a class="js-scroll-trigger" href="#about">Concept</a> -->
                                    <li><a href="assessment" class="bannerWord"><i class="fa fa-bars"></i> 風險評估</a></li>
                                    <li><a href="invest" class="bannerWord"><i class="fa fa-bars"></i> 直接投資</a></li>
                                    <li><a href="history" class="bannerWord"><i class="fa fa-bars"></i> 歷史資料</a></li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="login" id="loginBtn"><i class="fa fa-user"></i> 登入/註冊</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    {% block content %}
    {% endblock %}


</body>
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery/jquery-2.2.4.min.js') }}"></script>

<!-- Popper js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap/popper.min.js') }}"></script>

<!-- Bootstrap js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap/bootstrap.min.js') }}"></script>

<!-- All Plugins js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/plugins/plugins.js') }}"></script>

<!-- Active js -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/active.js') }}"></script>

</html>
