{% extends "base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='invest.css') }}">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.bundle.base.css') }}"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.bundle.addons.css') }}"> -->
<!-- <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"> -->
<!-- endinject -->
<!-- <link rel="shortcut icon" href="images/favicon.png" /> -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/invest.js') }}"></script>

<div class="container-scroller">
    <!-- partial -->
    <div class="main-panel" style="width:100%;">
        <div class="content-wrapper">
            <div class="row"style="margin-top: 5%;"> 
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Striped Table</h4>
                            <p class="card-description">
                                Add class
                                <code>.table-striped</code>
                            </p> -->
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                User
                                            </th>
                                            <th>
                                                First name
                                            </th>
                                            <th>
                                                Progress
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Deadline
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-1.png" alt="image" />
                                            </td>
                                            <td>
                                                Herman Beck
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 77.99
                                            </td>
                                            <td>
                                                May 15, 2015
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-2.png" alt="image" />
                                            </td>
                                            <td>
                                                Messsy Adam
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $245.30
                                            </td>
                                            <td>
                                                July 1, 2015
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-3.png" alt="image" />
                                            </td>
                                            <td>
                                                John Richards
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $138.00
                                            </td>
                                            <td>
                                                Apr 12, 2015
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-4.png" alt="image" />
                                            </td>
                                            <td>
                                                Peter Meggik
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 77.99
                                            </td>
                                            <td>
                                                May 15, 2015
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-1.png" alt="image" />
                                            </td>
                                            <td>
                                                Edward
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 160.25
                                            </td>
                                            <td>
                                                May 03, 2015
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-2.png" alt="image" />
                                            </td>
                                            <td>
                                                John Doe
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 123.21
                                            </td>
                                            <td>
                                                April 05, 2015
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../images/faces-clipart/pic-3.png" alt="image" />
                                            </td>
                                            <td>
                                                Henry Tom
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 150.00
                                            </td>
                                            <td>
                                                June 16, 2015
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Basic Table</h4>
                            <p class="card-description">
                                Add class
                                <code>.table</code>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Profile</th>
                                            <th>VatNo.</th>
                                            <th>Created</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>53275531</td>
                                            <td>12 May 2017</td>
                                            <td>
                                                <label class="badge badge-danger">Pending</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Messsy</td>
                                            <td>53275532</td>
                                            <td>15 May 2017</td>
                                            <td>
                                                <label class="badge badge-warning">In progress</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>John</td>
                                            <td>53275533</td>
                                            <td>14 May 2017</td>
                                            <td>
                                                <label class="badge badge-info">Fixed</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Peter</td>
                                            <td>53275534</td>
                                            <td>16 May 2017</td>
                                            <td>
                                                <label class="badge badge-success">Completed</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dave</td>
                                            <td>53275535</td>
                                            <td>20 May 2017</td>
                                            <td>
                                                <label class="badge badge-warning">In progress</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Hoverable Table</h4>
                            <p class="card-description">
                                Add class
                                <code>.table-hover</code>
                            </p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Product</th>
                                            <th>Sale</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Photoshop</td>
                                            <td class="text-danger"> 28.76%
                                                <i class="mdi mdi-arrow-down"></i>
                                            </td>
                                            <td>
                                                <label class="badge badge-danger">Pending</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Messsy</td>
                                            <td>Flash</td>
                                            <td class="text-danger"> 21.06%
                                                <i class="mdi mdi-arrow-down"></i>
                                            </td>
                                            <td>
                                                <label class="badge badge-warning">In progress</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>John</td>
                                            <td>Premier</td>
                                            <td class="text-danger"> 35.00%
                                                <i class="mdi mdi-arrow-down"></i>
                                            </td>
                                            <td>
                                                <label class="badge badge-info">Fixed</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Peter</td>
                                            <td>After effects</td>
                                            <td class="text-success"> 82.00%
                                                <i class="mdi mdi-arrow-up"></i>
                                            </td>
                                            <td>
                                                <label class="badge badge-success">Completed</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dave</td>
                                            <td>53275535</td>
                                            <td class="text-success"> 98.05%
                                                <i class="mdi mdi-arrow-up"></i>
                                            </td>
                                            <td>
                                                <label class="badge badge-warning">In progress</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
    </div>
</div>
<!-- <div class="row" style="height:100%;">
    <div class="col-md-4 riskResult">
        <div class="riskResultTitle">你的風險等級結果是</div>
        <div class="riskResultContent">低風險！</div>
    </div>
    <div class="col-md-8">
        <div class="container" style="margin-top: 20%; margin-left: 5%;">
            <div id="titleProfolio">以下為您提供適當的基金</div>
            <div class="panel-group">
                <div class="panel panel-default firstBlock">
                    <div class="panel-heading">富邦中國ETF傘型基金
                        <i id="firstDetail" class="fas fa-search-plus" style="float: right;"></i>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width: 75%"></div>
                            <p>75%</p>
                        </div>
                        <div id="firstName" class="firstProfolio">
                            <div>Hahago + 台積 + 玉山</div>
                            <div>經理公司應確保基金投資之安全，以誠信原則及專業經營方式，追蹤上証 180 兩倍槓桿指數之績效表現為本子基金投資組合管理之目標，將運用本 基金於中華民國與國外投資有價證券及從事證券相關商品交易，本子基金原則上透過每日重新帄衡機制(Daily
                                Rebalancing)，以使本子基 金投資組合之整體曝險，能貼近本子基金淨資產價值之正向兩倍之百分 之一百。為因應標的指數之正向倍數表現之複製策略所需，從事證券相 關商品交易曝險部位，應以每營業日持有期貨、選擇權之契約總市值或
                                總(名目)價值之合計數，不超過本子基金淨
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success secondBlock">
                    <div class="panel-heading">日盛投信
                        <i id="secondDetail" class="fas fa-search-plus" style="float: right;"></i>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width: 90%"></div>
                            <p>90%</p>
                        </div>
                        <div id="secondName" class="secondProfolio">
                            <div>Hahago + 台積 + 玉山</div>
                            <div>經理公司應確保基金投資之安全，以誠信原則及專業經營方式，追蹤上証 180 兩倍槓桿指數之績效表現為本子基金投資組合管理之目標，將運用本 基金於中華民國與國外投資有價證券及從事證券相關商品交易，本子基金原則上透過每日重新帄衡機制(Daily
                                Rebalancing)，以使本子基 金投資組合之整體曝險，能貼近本子基金淨資產價值之正向兩倍之百分 之一百。為因應標的指數之正向倍數表現之複製策略所需，從事證券相 關商品交易曝險部位，應以每營業日持有期貨、選擇權之契約總市值或
                                總(名目)價值之合計數，不超過本子基金淨
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-warning thirdBlock">
                    <div class="panel-heading">未來資產投信
                        <i id="thirdDetail" class="fas fa-search-plus" style="float: right;"></i>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100" style="width: 40%"></div>
                            <p>40%</p>
                        </div>
                        <div id="thirdName" class="thirdProfolio">
                            <div>Hahago + 台積 + 玉山</div>
                            <div>經理公司應確保基金投資之安全，以誠信原則及專業經營方式，追蹤上証 180 兩倍槓桿指數之績效表現為本子基金投資組合管理之目標，將運用本 基金於中華民國與國外投資有價證券及從事證券相關商品交易，本子基金原則上透過每日重新帄衡機制(Daily
                                Rebalancing)，以使本子基 金投資組合之整體曝險，能貼近本子基金淨資產價值之正向兩倍之百分 之一百。為因應標的指數之正向倍數表現之複製策略所需，從事證券相 關商品交易曝險部位，應以每營業日持有期貨、選擇權之契約總市值或
                                總(名目)價值之合計數，不超過本子基金淨
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}