{% extends "base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='invest.css') }}">

<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/invest.js') }}"></script>

<div class="container-scroller">
    <div class="main-panel" style="width:100%;">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card" style="text-align:center;margin-top:5%;">
                    <div class="card">
                        <div class="card-body">
                            <div class="riskResultTitle">你的風險等級結果是</div>
                            <br>
                            <div class="riskResultContent">低風險！</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card profolio">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" style="table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th>
                                                基金
                                            </th>
                                            <th>
                                                資金募集百分比
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                富達基金-全球債券基金(A類股份-美元)
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" id="firstProfolio"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                聯博-全球債券基金AT級別美元(基金之配息來源可能為本金)
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" id="secondProfolio"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                野村全球短期收益基金-新臺幣計價
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" id="thirdProfolio"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}